@font-face {
    font-family: '28Dayslater';
    src: url(fonts/28DaysLater.ttf);
}

/*Font*/

html {
    background-image: url("Images/back.png");
    background-size: cover;
}

/*Background*/

header {
    justify-content: space-between;
    align-items: center;
    background-color: #7a7a7a;
    height: 100px;
    text-align: center;
}

/*Dayz title*/

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

/*Alignment?*/

body {
    margin: 20px;
}

/*left bar spacing*/

.main {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto;
    grid-gap: 5px;
}

/*spacing between left and left bar*/

h1 {
    font-size: 20px;
    justify-self: start;
    background-color: #7a7a7a;
    color: white;
    font-family: '28Dayslater';

}

/*Text*/

.mainTitle {
    grid-column: 2;
    grid-row: 2;
}

/*titles*/


.epic {
    grid-column: 1/4;
    font-family: '28Dayslater';
    font-size: 6vw;
    background-color: #7a7a7a;
    width: 100%;
    text-align: center;
}

/*box*/

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #7a7a7a;
}

/*left bar*/

nav a {
    background-color: black;
    color: white;
    font-family: '28Dayslater';
    width: contain;
    margin: 66% 0%;
    border: 2px solid white;
}

/*left bar*/

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

/*top*/

img {
    width: 100%;

}

/*images size*/

.tier {
    width: 20px;
    height: 35px;
    display: flex;
    flex-direction: column;
    background-color: #7a7a7a;

}

/*for tiers in guns page*/

nav a:hover {
    color: palegoldenrod;
    border-radius: 10%;
}

h2 {
    color: white;
    font-size: 35px;
    margin-top: 10px;
    background-color: #7a7a7a;
    font-family: '28Dayslater';
}

/*Text and box*/

.editorTitle {
    grid-column: 2;
    grid-row: 2;
    font-size: 35px;
    margin-top: 10px;
}

/*titles*/


.editorPara {
    grid-column: 2;
    grid-row: 2;
    background-color: #7a7a7a;
    font-family: '28Dayslater';
    color: white;
}
/*paragraphs*/


.edditorPara p {

}

.java {
    background-color: aqua;
    color: crimson;
}



