@font-face {
    
}

html {
    background-image: url("Images/back.png");
    background-size: cover;
}

header {
    justify-content: space-between;
    align-items: center;
    background-color: #7a7a7a;
    height: 100px;
    text-align: center;
    
}

* {
  margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 20px;
}

.top {
    display: grid; 
    grid-template-columns: 10fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 5px;   
}

h1 {
    font-size: 20px;
    justify-self: start;
    background-color: #7a7a7a;
    color: white;
}

.mainTitle {
    grid-column: 2;
    grid-row: 2;
}

.main {
    grid-column: 1;
    grid: 3;
    width: 305px;
    height: 305px;
}

title {
    
}




.main0ver {
    grid-column: 1;
    grid-row: 3;
    align-self: end;
}


h2 {
    color: white;
    font-size: 35px;
    margin-top: 10px;
    background-color: #7a7a7a;
}

.overLay {
   margin: 0px 0px 5px 10px;
}

.editorTitle {
    grid-column: 2;
    grid-row: 2;
    color: 
}